@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Daftar Barang";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = "Index";
}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-dark sbold uppercase">Report @ViewBag.Title</span>
        </div>
        <div class="actions">
            <a class="btn btn-sm green dropdown-toggle" href="/Report/ExportDaftarBarang" id="export">
                <i class="fa fa-upload"></i>Export
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">
                    Hide Column :
                </div>
                <div class="tools">
                    <a href="" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body form" style="display: none;">
                <form role="form">
                    <div class="form-body">
                        <div id="content-col" class="md-checkbox-inline" style="margin-left:10px"></div>
                    </div>
                </form>
            </div>
        </div>
        <div id="grid"></div>
    </div>
</div>

@section scripts
{
    <script id="command-template" type="text/x-kendo-template">
        <a class="k-button-icon k-grid-edit" href="\\#" title="View" onclick="viewItem(#=SalesOrderId#)"><span class="glyphicon glyphicon-eye-open"></span></a>
    </script>

    <script type="text/javascript">
        function viewItem(id) {
            window.location.href = "@Url.Action("ViewDaftarBarang")" + "?id=" + id;
        }

        $(document).ready(function () {
            currController = '@currentController';
            currAction = '@currentAction';

            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("BindingKonsolidasi")',
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options != '') {
                            return kendo.stringify(options);
                        }
                        else if (operation == "read") {
                            if (options.filter) {
                                filter = options.filter.filters;
                                for (var i in filter) {
                                    if (filter[i].field == "SupplierName")
                                        filter[i].field = "SalesOrderKonsolidasi.Supplier.CustomerNama";
                                    if (filter[i].field == "NamaCustomer")
                                        filter[i].field = "SalesOrderKonsolidasi.LookupCustomer.Nama";
                                    if (filter[i].field == "IKSNo")
                                        filter[i].field = "SalesOrderKonsolidasi.IKSNo";
                                    if (filter[i].field == "StrProduct")
                                        filter[i].field = "SalesOrderKonsolidasi.MasterProduct.NamaProduk";
                                    if (filter[i].field == "Rute")
                                        filter[i].field = "SalesOrderKonsolidasi.StrDaftarHargaItem";
                                }
                            }
                            if (options.sort) {
                                sort = options.sort;
                                for (var i in sort) {
                                    if (sort[i].field == "TanggalMuat")
                                        sort[i].field = "OrderTanggalMuat";
                                    if (sort[i].field == "NamaCustomer")
                                        sort[i].field = "Customer.CustomerNama";
                                    if (sort[i].field == "KodeNama")
                                        sort[i].field = "Customer.CustomerCodeOld";
                                    if (sort[i].field == "VehicleNo")
                                        sort[i].field = "DataTruck.VehicleNo";
                                    if (sort[i].field == "Driver1")
                                        sort[i].field = "Driver.NamaDriver";
                                }
                            }
                            $('#export').attr('href', "/Report/ExportDaftarBarang?" + jQuery.param(options).replace('take=10', 'take=100000000'))
                            return options;
                        }
                    },
                },
                schema: {
                    total: "total",
                    data: "data",
                    model: {
                        fields: {                            
                            "SalesOrderId": { type: "number" }, "IKSNo": { type: "string" },
                            "SalesOrderkosolidasiId": { type: "number" },
                            "SONumber": { type: "string" },
                            "Urutan": { type: "number" },
                            "TanggalOrder": { type: "date" },
                            "TanggalMasuk": { type: "date" },
                            "SONumberCust": { type: "date" },
                            "CustomerId": { type: "number" },
                            "KodeCustomer": { type: "string" },
                            "KodeNama": { type: "string" },
                            "NamaCustomer": { type: "string" },
                            "SupplierId": { type: "number" },
                            "SupplierName": { type: "string" },
                            "KodeCustomerTagihan": { type: "string" },
                            "NamaCustomerTagihan": { type: "string" },
                            "Keterangan": { type: "string" },
                            "ProductId": { type: "number" },
                            "StrProduct": {type: "string"}, "Suhu": {type: "number"}, "Rute": {type: "string"}, "TypeKonsolidasi": {type: "string"}, "StrType": {type: "string"}, "Tonase": {type: "number"},
                            "karton": {type: "number"}, "Pallet": {type: "number"}, "Container": {type: "number"}, "m3": {type: "number"}, "isMinimumBerat": {type: "boolean"}, "BeratMinimum": {type: "number"},
                            "PerhitunganDasar": {type: "string"}, "Harga": {type: "number"}, "TotalHarga": {type: "number"}, "CaraBayar": {type: "string"}, "Status": {type: "string"}, 
                            "IsSelect":{type: "boolean"}
                        }
                    }
                },
                pageSize: 10, pageable: true, sortable: true, serverFiltering: true, serverPaging: true, serverSorting: true, sort: { field: "SONumber", dir: "desc" }
            });
            gridIndex = $("#grid").kendoGrid({
                dataSource: ds, filterable: kendoGridFilterable, sortable: true, reorderable: true,  pageable: true, groupable: true, resizable: true, scrollable: true,
                columns: [
                    {template: kendo.template($("#command-template").html()), width: 70}, {field: "SONumber", title: "No SO", width: "135px"}, {field: "IKSNo", title: "IKS No", width: "135px"},
                    {
                        field: "TanggalOrder", title: "Tanggal Order", template: "#= kendo.toString(kendo.parseDate(TanggalOrder, 'yyyy-MM-dd'), 'dd/MM/yyyy') #", width: "150px",
                        groupHeaderTemplate: "Tanggal Order : #= value != null ? kendo.toString(kendo.parseDate(value, 'yyyy-MM-dd'), 'dd/MM/yyyy') : '' #"
                    },
                    {
                        field: "TanggalMasuk", title: "Tanggal Masuk", template: "#= kendo.toString(kendo.parseDate(TanggalMasuk, 'yyyy-MM-dd'), 'dd/MM/yyyy') #", width: "150px",
                        groupHeaderTemplate: "Tanggal Masuk : #= value != null ? kendo.toString(kendo.parseDate(value, 'yyyy-MM-dd'), 'dd/MM/yyyy') : '' #"
                    },
                    {field: "KodeNama", title: "Kode Nama", width: "180px"}, {field: "NamaCustomer", title: "Customer", width: "180px"},
                    {field: "SupplierName", title: "Supplier", width: "180px"},
                    {field: "Keterangan", width: "190px"}, {field: "StrProduct", title: "Jenis Barang", width: "150px"},
                    {field: "Suhu", width: "80px", attributes: { style: "text-align:right;" }},
                    {field: "Rute", width: "150px"},{field: "TypeKonsolidasi", title: "Type", width: "100px"},
                    {field: "Tonase", attributes: { style: "text-align:right;" }, width: "100px"},
                    {field: "karton", attributes: { style: "text-align:right;" }, width: "100px"}, {field: "Pallet", attributes: { style: "text-align:right;" }, width: "100px"},
                    {field: "Container", attributes: { style: "text-align:right;" }, width: "100px"}, {field: "m3", attributes: { style: "text-align:right;" }, width: "100px"},
                    {field: "isMinimumBerat", title: "Minimum Berat", template: "#= isMinimumBerat ? 'Ya' : 'Tidak' #", width: "130px"},
                    {field: "PerhitunganDasar", title: "Dasar Perhitungan", width: "150px"},
                    {field: "Harga", template: 'Rp. #: Harga == null ? 0 : kendo.format("{0:n2}", Harga)#', attributes: { style: "text-align:right;" }, title: "Harga", width: "150px"},
                    {field: "TotalHarga", title: "Total Perhitungan", template: 'Rp. #: TotalHarga == null ? 0 : kendo.format("{0:n2}", TotalHarga)#', attributes: { style: "text-align:right;" }, width: "150px"},
                    {field: "CaraBayar", title: "Cara Pembayaran", width: "130px"},
                ],
            }).data("kendoGrid");
            @foreach (tms_mka_v2.Context.UserReference item in (List<tms_mka_v2.Context.UserReference>)ViewBag.listKolom)
            {
                <text>
            listKolom.push('@item.Coloumn');
            </text>
            }

            GetColomnData(gridIndex);
        })
    </script>
}