@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sales Order Kontrak";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = "Index";
}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
        </div>
        <div class="actions">
            <a class="btn btn-sm green dropdown-toggle" href="/Report/ExportSalesOrderKontrak" id="export">
                <i class="fa fa-upload"></i>Export
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">Hide Column :</div>
                <div class="tools">
                    <a href="" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body form" style="display: none;">
                <form role="form">
                    <div class="form-body">
                        <div id="content-col" class="md-checkbox-inline" style="margin-left:10px"></div>
                    </div>
                </form>
            </div>
        </div>
        <div id="grid"></div>
    </div>
</div>

@section scripts
{
    <script id="command-template" type="text/x-kendo-template">
        <a class="k-button-icon k-grid-edit" href="\\#" title="Edit" onclick="editItem(#=SalesOrderId#)"><span class="glyphicon glyphicon-edit"></span></a>
    </script>
<script id="so-template" type="text/x-kendo-template">
    # if(IsReturn) { #
    <label style="color:red">#=SONumber#</label>
    # } else { #
    <label>#=SONumber#</label>
    # } #
</script>
    <script type="text/javascript">
        function editItem(id) {
            window.location.href = "@Url.Action("Edit")" + "?id=" + id;
        }

        $(document).ready(function () {
            currController = '@currentController';
            currAction = '@currentAction';

            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("BindingSOKontrak")',
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options != '') {
                            return kendo.stringify(options);
                        }
                        else if (operation == "read") {
                            if (options.filter) {
                                filter = options.filter.filters;
                                for (var i in filter) {
                                    if (filter[i].field == "KodeCustomer")
                                        filter[i].field = "Customer.CustomerCode";
                                    if (filter[i].field == "KodeNama")
                                        filter[i].field = "Customer.CustomerCodeOld";
                                    if (filter[i].field == "NamaCustomer")
                                        filter[i].field = "Customer.CustomerNama";
                                    if (filter[i].field == "PeriodStr") {
                                        filter[i].field = "SalesOrderKontrak.PeriodStr";
                                        Date.prototype.yyyymmdd = function() {
                                            var mm = this.getMonth() + 1; // getMonth() is zero-based
                                            var dd = this.getDate();

                                            return [this.getFullYear(),
                                                    (mm>9 ? '' : '0') + mm,
                                                    (dd>9 ? '' : '0') + dd
                                            ].join('-');
                                        };
                                        filter[i].value = filter[i].value.yyyymmdd()
                                    }
                                    if (filter[i].field == "StrJenisTruck")
                                        filter[i].field = "SalesOrderKontrak.JenisTrucks.StrJenisTruck";
                                }
                            }
                            $('#export').attr('href', "/Report/ExportSalesOrderKontrak?" + jQuery.param(options).replace('take=10', 'take=100000000'))
                            return options;
                        }
                        return options;
                    },
                },
                schema: {
                    total: "total", data: "data", id: "SalesOrderId",
                    model: {
                        fields: {
                            "SalesOrderId": { type: "number" }, "SONumber": { type: "string" }, "KodeCustomer": {type: "string"}, "KodeNama": {type: "string"},
                            "NamaCustomer": { type: "string" }, "PeriodStr": { type: "date" }, "StrJenisTruck": { type: "string" }, "Rit": { type: "number" },
                            "Keterangan": { type: "string" }, "Status": { type: "string" }, "IsReturn": { type: "bool" },
                        }
                    }
                },
                pageSize: 10, pageable: true, serverFiltering: true, serverPaging: true, serverSorting: true, sortable: true, sort: { field: "DateStatus", dir: "desc" }
            });
            gridIndex = $("#grid").kendoGrid({
                dataSource: ds, filterable: kendoGridFilterable, serverFiltering: true, serverPaging: true, serverSorting: true, sortable: true, reorderable: true,
                resizable: true, pageable: true, groupable: true,
                columns: [
                    {template: kendo.template($("#command-template").html()), width: 90},
                    {field: "SONumber", title: "No Kontrak", width: 150, template: kendo.template($("#so-template").html())},
                    {field: "KodeCustomer", title: "Kode Customer", width: 180}, {field: "KodeNama", title: "Kode Nama", width: 180},
                    {field: "NamaCustomer", title: "Customer", width: 200},
                    {
                        field: "PeriodStr", title: "Tanggal Muat",
                        template: "#= PeriodStr != null ? kendo.toString(kendo.parseDate(PeriodStr, 'yyyy-MM-dd'), 'dd/MM/yyyy') : ''#", width: 160,
                        groupHeaderTemplate: "Tanggal Muat : #= value != null ? kendo.toString(kendo.parseDate(value, 'yyyy-MM-dd'), 'dd/MM/yyyy') : '' #"
                    },
                    {
                        field: "JamMuat", title: "Jam Muat",
                        template: "#= JamMuat != null ? kendo.toString(new Date(1, 1, 1, JamMuat.Hours, JamMuat.Minutes), 'hh : mm') : ''#", filterable: false, width: 160
                    },
                    {field: "StrJenisTruck", title: "Jenis Truk",width: 170}, {field: "Rit", width: 100}, {field: "Keterangan", width: 250}
                ],
            }).data("kendoGrid");
            @foreach (tms_mka_v2.Context.UserReference item in (List<tms_mka_v2.Context.UserReference>)ViewBag.listKolom)
            {
                <text>
            listKolom.push('@item.Coloumn');
            </text>
            }

            GetColomnData(gridIndex);
        })
        setTimeout(function(){
            location = ''
        },180000)
    </script>
}