@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Settlement Batal";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = "Index";
}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-dark sbold uppercase">@ViewBag.Title</span>
        </div>
        <div class="actions">
            <a class="btn btn-sm green dropdown-toggle" href="/Report/ExportSettlementBatal" id="export">
                <i class="fa fa-upload"></i>Export
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="portlet box blue ">
            <div class="portlet-title">
                <div class="caption">Hide Column :</div>
                <div class="tools">
                    <a href="" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body form" style="display: none;">
                <form role="form">
                    <div class="form-body">
                        <div id="content-col" class="md-checkbox-inline" style="margin-left:10px"></div>
                    </div>
                </form>
            </div>
        </div>
        <div id="grid"></div>
    </div>
</div>
@section scripts
{
    <script id="command-template" type="text/x-kendo-template">
        <a class="k-button-icon k-grid-edit" href="\\#" title="View" onclick="viewItem(#=Id#)"><span class="glyphicon glyphicon-eye-open"></span></a>
    </script>
    <script type="text/javascript">
        function viewItem(id) {
            window.location.href = "/SettlementBatal/View?id=" + id;
        }
        $(document).ready(function () {
            currController = '@currentController';
            currAction = '@currentAction';
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {url: '@Url.Action("BindingSB")', dataType: "json"},
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options != '')
                            return kendo.stringify(options);
                        else if (operation == "read") {
                            if (options.filter) {
                                filter = options.filter.filters;
                                for (var i in filter) {
                                    if (filter[i].field == "NoSo")
                                        filter[i].field = "AdminUangJalan.SONumber";
                                    if (filter[i].field == "KodeNama")
                                        filter[i].field = "SalesOrder.Customer.CustomerCodeOld";
                                    if (filter[i].field == "Customer")
                                        filter[i].field = "SalesOrder.Customer.CustomerNama";
                                    if (filter[i].field == "VehicleNo")
                                        filter[i].field = "AdminUangJalan.DataTruck.VehicleNo";
                                    if (filter[i].field == "Driver")
                                        filter[i].field = "AdminUangJalan.Driver1.NamaDriver";
                                    if (filter[i].field == "Tanggal"){
                                        filter[i].field = "ModifiedDate";
                                        Date.prototype.yyyymmdd = function() {
                                            var mm = this.getMonth() + 1; // getMonth() is zero-based
                                            var dd = this.getDate();

                                            return [this.getFullYear(),
                                                    (mm>9 ? '' : '0') + mm,
                                                    (dd>9 ? '' : '0') + dd
                                            ].join('-');
                                        };
                                        filter[i].value = filter[i].value.yyyymmdd()
                                    }
                                }
                            }
                            if (options.sort) {
                                sort = options.sort;
                                for (var i in sort) {
                                    if (sort[i].field == "TanggalMuat")
                                        sort[i].field = "OrderTanggalMuat";
                                }
                            }
                            $('#export').attr('href', "/Report/ExportSettlementBatal?" + jQuery.param(options).replace('take=10', 'take=100000000'))
                            return options;
                        }
                    }
                },
                schema: {
                    total: "total", data: "data", model: {
                        fields: {
                            "Id": {type: "number"}, "JenisOrder": {type: "string"}, "NoDn": {type: "string"},
                            "NoSo": {type: "string"}, "Customer": {type: "string"}, "VehicleNo": {type: "string"},
                            "Driver": { type: "string" }, "JenisBatal": { type: "string" }, "Tanggal": { type: "date" }, "IsProses": { type: "bool" },
                        }
                    }
                },
                pageSize: 10, pageable: true, sortable: true, serverFiltering: true, serverPaging: true, serverSorting: true,
                sort: { field: "Id", dir: "desc" },
            });
            gridIndex = $("#grid").kendoGrid({
                dataSource: ds, filterable: kendoGridFilterable, sortable: true, reorderable: true, resizable: true, pageable: true, groupable: true, columns: [
                    {template: kendo.template($("#command-template").html()), width: "70px"}, {field: "JenisOrder", title: "Jenis Order"}, {field: "NoDn", title: "No.DN"},
                    {field: "NoSo", title: "No.SO"},
                    {field: "KodeNama", title: "Kode Nama"}, {field: "Customer"}, {field: "VehicleNo", title: "No.Polisi"}, {field: "Driver"},
                    {field: "Tanggal", title: "Tanggal Batal", template: "#= Tanggal != null ? kendo.toString(kendo.parseDate(Tanggal, 'yyyy-MM-dd'), 'dd/MM/yyyy') : ''#"},
                    {field: "JenisBatal", title: "Jenis Batal"},
                ],
            }).data("kendoGrid");

            @foreach (tms_mka_v2.Context.UserReference item in (List<tms_mka_v2.Context.UserReference>)ViewBag.listKolom)
            {
                <text>
            listKolom.push('@item.Coloumn');
            </text>
            }
            GetColomnData(gridIndex);
        })
    </script>
}